body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    
    height: 100%;
}


.a-lang{
    color: #1a0dab;
    text-decoration: none;
    padding: 3px;
}

.top-links{
    margin-top: 8px;
    color: black;
    text-decoration: none;
}

a{

    color: gray;
    text-decoration: none;
   
}



.top-section{
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 20px;
    gap: 20px;
    font-size: 14px;
}

.signin-btn{
    padding: 8px 25px;
    border-width: 0;
    background-color: #1b73e9;
    border-radius: 6px;
    color: white;
}

.main-content{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.input-element{
    display: flex;
    width: 500px;
}

.language-container{

    font-size: 13px;
    color: black;
}

input{
    outline: 0;
    border-width: 0;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
}

.input-container{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    gap: 5px;
    padding: 10px 12px 10px 12px;

}


.main-btns{
    background-color: #f8f9fa;
    padding: 5px 15px;
    border: 1px solid #f8f9fa;
    
    margin-left: 15px;
    border-radius: 4px;
    font-size: 15px;
}


.bottom-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    
    
    background-color: #f2f2f2;
}
.country-item{
    margin-top: 10px;
    color: gray;
    flex-grow: 1;
    padding: 10px 25px;
}

.bottom-inside-container{
    display: flex;
    gap: 30px;
    border-top: 2px solid #dfe1e5;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
}

.bottom-inside-left{
    margin-left: auto;
}


a:hover{
    text-decoration:underline;
}

.main-btns:hover{
    border: 1px solid gray;
}